**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 30vw;
    height: 50vh;
    
    border: none;
}
.container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img-before, .img-after {
    position: absolute;
   
}
.img-before{
    width: 50vw;
}
img-after{
    width: 50vw;
}